<!DOCTYPE html>
<html lang = "es">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
<script src="https://kit.fontawesome.com/1194a10758.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="static/styles.css" media="screen" />
<body>
<h1>¡Te enviaré un email!</h1>
<form action="" class="form-box-inputs" method="POST">
    <div>
      <div>
        <label for="">Ingrese su email</label>
        <input type="text" name="email" id="email" />
      </br>
      </br>
      <input class="btn-submit"  type="submit" value="Submit" />      
    </div>
    <p>
        Recibirás un email con el diccionario en un pdf adjunto  
        <span><i class="fa-solid fa-face-grin-beam"></i></span>
    </p>
</body>
</html>